<div class="container p-5 my-5 border">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="formLog">
        <h1 class="h3 mb-3 fw-normal">Por favor ingresa</h1>
        <div class="form-floating">
          <input
            type="usuario"
            class="form-control"
            id="usuario"
            formControlName="usuario"
          />
          <label for="usuario">Usuario</label>
        </div>
        <br />
        <div class="form-floating">
          <input
            type="contraseña"
            class="form-control"
            id="contraseña"
            formControlName="contraseña"
          />
          <label for="contraseña">Contraseña</label>
        </div>
        <br />
        <button
          class="w-100 btn btn-lg btn-primary"
          type="button"
          (click)="ingreso()"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
