<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/mascota']">Mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/cliente']">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/especie']">Especies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/tipoid']">TiposId</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-3">
  <div class="container-fluid p-3 my-2 bg-dark text-white"
    style="display: flex; justify-content: center; align-items: center;">
    <h3 id="titulo">Tipos de Identificación</h3>
  </div>
</div>
<div class="container-fluid p-3">
  <div class="table-responsive-md">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th style="text-align: center;">N°</th>
          <th style="text-align: center;">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align:center;" *ngFor="let item of datosTid">
          <td style="margin-top: 3%;">{{item.idt}}</td>
          <td style="margin-top: 3%;">{{item.nombret}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
